
<h1>Welcome <%= @current_user ? @current_user.fname : "" %>!</h1>

<h2>This is the home page.</h2>

<form action="/session/destroy" method="post" >
  <input id="signout-button" type="submit" value="Sign Out">
</form>